<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'trips/index' %>
<% end %>


<h3><%= @trip_summary_data[:residency_conclusion] %></h3>

<%= image_tag person_trips_pie_chart_for_total_days_per_state_path, alt: "Image Missing", class: "pie_chart" %>