<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'trips/index' %>
<% end %>


<h3><%= @trip_summary_data[:residency_conclusion] %></h3>

<%= image_tag("residency_by_state_pie_chart.png", alt: "Image Missing", class: "pie_chart") %>

