<h1>Use trips for a different year or change your desired state of residency:</h1>

<%= render 'form' %>

<%= link_to 'Go back to trip analysis data', person_trips_path(@person) %>
<%= link_to 'Start Over...', new_person_path %>