<h1>Determining State Residency</h1>


<p>
	Want to ensure you maintain your residency if you go on a trip back to your home state?
	Trying to determine your state of residency after a year of wanderlust and relocations?
	Want to know how soon you'd have to move in order to obtain residency in your new state?
</p>

<p>
	Tell us the dates and states of your moves and/or trips, and we'll calculate the exact number of days you've spent in each state, your current state of residence, and/or how many days you'd need to remain in your desired state of residence.
</p>

<%= render 'form' %>

