<p>Year to be calculated: <%= @person.year %></p>
<p>Leap year? : <%= @person.leap_year %></p>
<p>Desired state of residency: <%= @person.desired_state_of_residency %></p>

<%= link_to 'Make another!', new_person_url %>